name: Get Project ID

on:
  issues:
    types: [opened]

jobs:
  get_project_id:
    runs-on: ubuntu-latest

    steps:
      - name: Get Project ID
        id: get_project_id
        run: |
          response=$(curl -L \
            -H "Authorization: token ${{ secrets.MY_PAT }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/events)

          echo "Response: $response"

          project_id=$(echo "$response" | jq -r '.[] | select(.event == "added_to_project") | .project.id' | head -n 1)

          if [[ -n "$project_id" ]]; then
            echo "PROJECT_ID=$project_id" >> $GITHUB_ENV
            echo "Project ID found: $project_id"  # Dodaj log, aby potwierdzić
          else
            echo "No project ID found."
          fi

      - name: Output Project ID
        run: |
          echo "The project ID is: $PROJECT_ID"  # Używaj bez podwójnych nawiasów
